<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie9 lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>
    {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  <link rel="shortcut icon" href="{{ 'site-icon.png' | asset_url }}" />
  <link rel="apple-touch-icon-precomposed" href="{{ 'site-icon.png' | asset_url }}" />

  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width" />

  <!--[if lt IE 9]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
  <![endif]-->

  {{ content_for_header }}

  {% include 'social-meta' %}
  {% include 'fonts' %}

  <!-- Theme CSS -->
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <!-- Third Party JS Libraries -->
  {{ 'modernizr.js' | asset_url | script_tag }}

  <!-- Theme object -->
  {% include 'theme-options' %}

  <script>
    window.products = {};
  </script>

</head>

{% capture fontClasses %}
  {% include 'font-classes' %}
{% endcapture %}

<body class="sidebar-closed side-nav-closed side-cart-closed {% if customer %}customer-logged-in{% endif %} template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} {{ fontClasses | strip_newlines | strip }} {% if settings.product-quick-shop %}quick-shop{% endif %}" >

  <div id="fb-root"></div>

  <script>
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = '//apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=187795038002910";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  {% include 'header' %}

  {% if template contains 'index' and settings.enable-slideshow %}
    {% include 'home-slideshow' %}
  {% endif %}

  <div class="container-outer">
    <div class="container-wrap">

      {% include 'sidebar' %}

      <div class="main-content">

        {% unless template contains 'index' %}
          {% include 'breadcrumbs' %}
        {% endunless %}

        {{ content_for_layout }}

      </div>

    </div>
  </div>

  {% include 'footer' %}

  <!-- Scripts -->
  {{ 'jquery.js' | asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}

  {% if template contains 'cart' %}

    {% if settings.show-shipping-calculator %}
      {{ "/services/javascripts/countries.js" | script_tag }}
      {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {% endif %}

    {{ 'jquery.cart.min.js' | asset_url | script_tag }}
  {% endif %}

  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  {% if settings.enable-currency-switcher %}
    {{ "//cdn.shopify.com/s/javascripts/currencies.js" | script_tag }}
    {{ "jquery.currencies.js" | asset_url | script_tag }}
  {% endif %}

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}

  {{ 'plugins.js'  | asset_url | script_tag }}
  {{ 'theme.js'  | asset_url | script_tag }}

</body>
</html>
