{% comment %}
  15Nov16 zig - comment out powered_by_link
{% endcomment %}
<footer class="main-footer">

  {% if settings.featured-image-1 or settings.featured-image-2 or settings.featured-image-3 %}
    <div class="featured-in">
      {% for i in (1..3) %}

        {% capture featuredImageIndex %}featured-image-{{ i }}{% endcapture %}
        {% capture featuredImage %}{{ featuredImageIndex }}.png{% endcapture %}
        {% capture featuredImageURL %}{{ featuredImageIndex }}-url{% endcapture %}
        {% capture wrappingElement %}{% if settings[featuredImageURL] != blank %}a{% else %}span{% endif %}{% endcapture %}

        {% if settings[featuredImageIndex] %}
          <{{ wrappingElement }} href="{{ settings[featuredImageURL] }}" class="featured-in-wrapper">
            <img class="featured-image" src="{{ featuredImage | asset_url }}" />
          </{{ wrappingElement }}>
        {% endif %}

      {% endfor %}
    </div>
  {% endif %}

  {% if linklists.footer.links.size > 0 %}
    <div class="footer-link-list">
      <ul>
        {% for link in linklists.footer.links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% capture year %}{{ "now" | date: "%Y" }}{% endcapture %}
  <p role="contentinfo" class="copyright">
    {% if settings.footer-copy-text != blank %}
      <p class="footer-custom">{{ settings.footer-copy-text }}</p>
    {% endif %}
    {% capture shopName %}
      {{ shop.name | link_to: '/' }}
    {% endcapture %}
    {{ 'layout.footer.copyright_html' | t: year: year, shop_name: shopName }} {% comment %}{{ powered_by_link }} {% endcomment %}
  </p>

  {% if shop.enabled_payment_types.size > 0 and settings.footer-show-payment-options %}
    <ul class="payment-options">
      {% for type in shop.enabled_payment_types %}
        <li class="{{ type | replace: '_','-' }}">{{ type | replace: '_',' ' }}</li>
      {% endfor %}
    </ul>
  {% endif %}

</footer>
